<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h3>{{'USUARIS_BO.TITLE' | translate }}
          <a [routerLink]="['/sistema/usuaris-bo/new']">
            <button [disabled]="!_currentUserService.hasPermission(FUNCIONALITIES.USERBO_MANAGEMENT)" mat-raised-button color="primary" style="margin-left:40px;">
              {{ 'GENERAL.ADD' | translate }}
              <i class="material-icons">
                add_circle
              </i>
            </button>
          </a>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <p style="display:none;">
          <!--span style="float:left;margin-top:28px;">
            {{ 'USUARIS_BO.FOR_SELECTED' | translate }}
          </span>
          <mat-form-field style="float:left;margin-left:5px;">
            <mat-select [(ngModel)]="selectedOperacio">
              <mat-option [value]="operacioBorrar">{{ 'USUARIS_BO.BORRAR' | translate }}</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button (click)="applyOperacio()" color="white" style="float:left;margin-left:5px;margin-top:12px;">
            {{ 'GENERAL.APPLY' | translate }}
          </button -->
        </p>
      </div>
      <div class="col-lg-7">
        <mat-form-field style="float:right;margin-top:5px;padding-right:15px;">
          <input matInput placeholder="{{ 'GENERAL.SEARCH_M' | translate }}" [(ngModel)]="search">
        </mat-form-field>
      </div>
    </div>
    <div class="row card" style="margin-top:0;">
      <div class="col-lg-12 card-body">
        <table class="table card-body">
          <thead>
            <tr>
              <th scope="col" style="display:none;">
                <mat-checkbox [checked]="isAllSelected()" (change)="toggleAll()"></mat-checkbox>
                <br/>
              </th>
              <th scope="col">{{ 'USUARIS_BO.NAME' | translate }}</th>
              <th scope="col">{{ 'USUARIS_BO.EMAIL' | translate }}</th>
              <th scope="col">{{ 'USUARIS_BO.MUNICIPI' | translate }}</th>
              <th scope="col">{{ 'USUARIS_BO.ROL' | translate }}</th>
              <th scope="col">{{ 'USUARIS_BO.ORIGIN' | translate }}</th>
              <th scope="col">{{ 'USUARIS_BO.ACCIONS' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="loadingUserBo">
              <td colspan="7">
                <mat-spinner style="margin:0 auto;"></mat-spinner>
              </td>
            </tr>
            <tr *ngFor="let userbo of usersbo | filterUsersBo: search">
              <td scope="row" style="display:none;">
                <mat-checkbox [checked]="isSelected(userbo)" (change)="toggleUser(userbo)"></mat-checkbox>
                <br/>
              </td>
              <td scope="row">{{ userbo.fullName }}</td>
              <td scope="row">{{ userbo.email }}</td>
              <td scope="row">{{ userbo.city | translate }}</td>
              <td scope="row">{{ userbo.profile.description }}</td>
              <td scope="row">
                <mat-checkbox [checked]="userbo.isLdapUser" [disabled]="true"> LDAP</mat-checkbox>
                <br/>
              </td>
              <td scope="row">
                <button class="buttonIcon" [routerLink]="['/sistema/usuaris-bo/'+userbo.boUserId]" mat-button [disabled]="!_currentUserService.hasPermission(FUNCIONALITIES.USERBO_MANAGEMENT)">
                  <i class="material-icons">
                    edit
                  </i>
                </button>
                <button class="marginLeft15px buttonIcon" mat-button  [disabled]="!_currentUserService.hasPermission(FUNCIONALITIES.USERBO_MANAGEMENT)" (click)="deleteUserDialog([userbo])">
                  <i class="material-icons" title="{{'USUARIS_BO.DELETE' | translate}}">
                    delete
                  </i>
                </button>
                <button class="marginLeft15px buttonIcon" mat-button (click)="recoverPassword(userbo)" *ngIf="!userbo.isLdapUser">
                  <i class="material-icons" title="{{'USUARIS_BO.RECOVER_PASSWORD' | translate}}">
                    mail
                  </i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>