<div>
  <h2 mat-dialog-title>{{ 'PERMISOS.DELETE_RES' | translate }}</h2>
  <hr />
  <mat-dialog-content>
    <div class="row">
      <div class="col-lg-12">
        {{ 'PERMISOS.DELETE_RES_INFO' | translate }}
      </div>
    </div>
  </mat-dialog-content>
  <hr />
  <mat-dialog-actions style="float:right;">
    <button mat-raised-button (click)="onCloseCancel()">{{ 'GENERAL.CANCEL' | translate }}</button>
    <button mat-raised-button color="primary" (click)="onCloseConfirm()">{{ 'GENERAL.CONFIRM' | translate }}</button>
  </mat-dialog-actions>
</div>