.label {
    padding-top:10px;
}

.value {
    padding-top:10px;
    font-weight:bold;

}

.row-edit-users {
    height: auto !important;
}

.mat-small {
    min-width: 1%;
}

.mat-arrow {
    margin-top:10px;
    margin-left:4px;
    float:left;
}

.userActions {
    width: 180px;
}

.mat-tab-body-wrapper {
    padding-top: 10px;
}