<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h3>{{'TERMS.TITLE' | translate }}
          <a [routerLink]="['/sistema/condicions/new']">
            <button mat-raised-button color="primary">
              {{ 'GENERAL.ADD' | translate }}
              <i class="material-icons">
                add_circle
              </i>
            </button>
          </a>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 card">
        <div class="row">
          <div class="col-lg-12">
            <table class="table">
              <thead>
                <th>
                  {{ 'TERMS.ID' | translate }}
                </th>
                <th>
                  {{ 'TERMS.DATE' | translate }}
                </th>
                <th>
                  {{ 'TERMS.URL' | translate }}
                </th>
                <th>
                  {{ 'TERMS.ACTIVE' | translate }}
                </th>
                <th>
                  {{ 'TERMS.VERSION' | translate }}
                </th>
                <th>
                  {{ 'TERMS.ACCIONS' | translate }}
                </th>
              </thead>
              <tbody>
                <tr *ngIf="loadingCondicions">
                  <td colspan="6">
                    <mat-spinner style="margin:0 auto;"></mat-spinner>
                  </td>
                </tr>
                <tr *ngFor="let term of allTerms">
                  <td scope="row">{{ term.serviceConditionId }}</td>
                  <td scope="row">
                    {{ term.publishDate | localizedDate }}
                  </td>
                  <td scope="row">
                    {{ term.url_ca }}
                  </td>
                  <td scope="row">
                    <mat-checkbox [disabled]="true" [checked]="term.active"></mat-checkbox>
                  </td>
                  <td scope="row">
                    {{ term.version }}
                  </td>
                  <td scope="row">
                      
                    <button class="buttonIcon" [routerLink]="['/sistema/condicions/'+term.serviceConditionId]" mat-button>
                      <i class="material-icons">
                        edit
                      </i>
                    </button>
                    <button class="marginLeft15px buttonIcon" mat-button (click)="deleteTermsDialog(term.serviceConditionId)">
                      <i class="material-icons">
                        delete
                      </i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>