.currentMonth {
    text-align: center;
    margin-top: 10px;
    text-transform: capitalize;
}

.header-day {
    width: 80px;
    text-align: center;
    font-weight: 100;
    padding-top: 20px;
}

.row-day {
    width: 80px;
    height: 40px;
    text-align: center;
    padding: 10px;
    border: 1px solid lightgrey;
}

.row-selected {
    background: #ff6b28;
    color: white;
}

.row-disabled {
    background: #efefef;
    cursor: default;
}

.row-day:not(.row-empty):not(.row-disabled):hover {
    background: lightblue;
    color: white;
    cursor: pointer;
}

.row-empty:not(.row-last) {
    background: #e4e4e4;
}

.row-last {
    border: 0px !important;
}