<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h3>{{'PERMISSOS.TITLEPEERMISOS' | translate }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <button [disabled]="!curUser.hasPermission(FUNCIONALITIES.GUILD_MANAGEMENT)" [routerLink]="['/gestio-gremi/permisos/new']"
          mat-raised-button color="primary">
          {{ 'GENERAL.ADD' | translate }}
          <i class="material-icons">
            add_circle
          </i>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header-warning">
            {{ 'PERMISSOS.FILTER_PERM' | translate }}
          </div>
          <div class="card-body">
            <form [formGroup]="formFilter" (ngSubmit)="save()">
              <div class="row">
                <div class="col-lg-4">
                  <mat-form-field>
                    <input matInput placeholder="{{ 'PERMISSOS.PERM' | translate }} *" formControlName="permis">
                  </mat-form-field>
                </div>
                <div class="col-lg-4">
                  <mat-form-field>
                    <mat-select formControlName="periodicity" placeholder="{{ 'PERMISSOS.PERIODICITAT' | translate }}">
                      <mat-option *ngFor="let period of periodicity" [value]="period.periodicityId">
                        {{ getTextPeriodicity(period.description) }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <button type="submit" style="float:right;" mat-raised-button color="primary">
                    {{ 'GENERAL.SEARCH' | translate }}
                  </button>
                  <button mat-stroked-button color="accent" style="float: right;margin-right:40px;" (click)="clearInputs()"> {{ 'GENERAL.CLEAR' | translate }}</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row card">
      <div class="col-lg-12" *ngIf="loadingPermissions">
        <mat-spinner style="margin: 0 auto;"></mat-spinner>
      </div>
      <div class="col-lg-12" *ngIf="!loadingPermissions && permisos && permisos.length === 0" style="padding-top:10px;padding-bottom:10px;font-size:18px;">
        <span>{{ 'GENERAL.NOT_EMPTY' | translate }}</span>
      </div>
      <div class="col-lg-12" *ngIf="!loadingPermissions && permisos && permisos.length > 0">
        <table class="table card-body">
          <thead>
            <tr>
              <th scope="col">{{ 'PERMISSOS.PERM' | translate }}</th>
              <th scope="col">{{ 'PERMISSOS.MUNICIPI' | translate }}</th>
              <th scope="col">{{ 'PERMISSOS.COLECTIU' | translate }}</th>
              <th scope="col">{{ 'PERMISSOS.QUANTITAT' | translate }}</th>
              <th scope="col">{{ 'PERMISSOS.DURACIO' | translate }}</th>
              <th scope="col">{{ 'PERMISSOS.PERIODICITAT' | translate }}</th>
              <th scope="col">{{ 'PERMISSOS.FRANJA' | translate }}</th>
              <th scope="col" class="col-accions">{{ 'GREMIS.ACTIONS' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="permisos == undefined || permisos.length == 0">
              <td colspan="9" class="text-center">
                <h4>{{ 'GENERAL.NOT_EMPTY' | translate}}</h4>
              </td>
            </tr>
            <tr *ngFor="let permis of permisos">
              <td scope="row">{{ permis.name }}</td>
              <td scope="row">
                <ng-container *ngFor="let item of municipis">
                  <span *ngIf="item.juridicId == permis.cityId">
                    {{item.name}}
                  </span>
                </ng-container>
              </td>
              <td scope="row">
                <ng-container *ngFor="let item of agreements">
                  <span *ngIf="item.agreementTypeId == permis.agreementType">
                    {{item.description}}
                  </span>
                </ng-container>
              </td>
              <td scope="row">{{ permis.quantity == -1 ? 'il·limitat' : permis.quantity }}</td>
              <td scope="row">{{ permis.expirationDate | localizedDateOnly }}</td>
              <td scope="row">
                <ng-container *ngFor="let item of periodicity">
                  <span *ngIf="item.periodicityId == permis.periodicityId">
                    {{ getTextPeriodicity(item.description) }}
                  </span>
                </ng-container>
              </td>
              <td scope="row">{{ permis.schedule ? permis.schedule.description_i18n.cat : '-' }}</td>
              <td scope="row">
                <button [disabled]="!curUser.hasPermission(FUNCIONALITIES.GUILD_MANAGEMENT)" class="buttonIcon" [routerLink]="['/gestio-gremi/permisos/'+permis.permissionId]"
                  mat-button>
                  <i class="material-icons">
                    edit
                  </i>
                </button>
                <button [disabled]="!curUser.hasPermission(FUNCIONALITIES.GUILD_MANAGEMENT)" class="marginLeft15px buttonIcon" mat-button
                  (click)="deletePermis(permis.permissionId)">
                  <i class="material-icons">
                    delete
                  </i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>