<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h3>{{ 'VEHICLES.TITLE' | translate }}</h3>
      </div>
    </div>
    <div class="row card">
      <div class="col-lg-12">
        <div class="card-header-warning">
          {{ 'VEHICLES.FILTER' | translate }}

        </div>
        <div class="card-body">
          <form [formGroup]="form">
            <div class="row">
              <div class="col-lg-4">
                <mat-form-field>
                  <input matInput placeholder="{{ 'VEHICLES.MATRICULA' | translate }}" formControlName="matricula">
                </mat-form-field>
              </div>
              <div class="col-lg-4">
                <mat-form-field>
                  <mat-select formControlName="vehicleState" placeholder="{{ 'VEHICLES.REG_STATE' | translate }}">
                    <mat-option *ngFor="let state of vehiclesStates" [value]="state.vehicleRegistrationStateId">
                      {{ state.i18n.cat }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <button mat-raised-button (click)="searchVehicles()"  style="float:right;" color="primary" type="submit">
                  {{ 'GENERAL.SEARCH' | translate }}
                </button>
                <button mat-raised-button [disabled]="exportInProgress" (click)="exportVehicles()" style="float:right;margin-right:40px;"color="primary">
                  {{ 'GENERAL.EXPORT_EXCEL' | translate }}
                </button>
                
                <button mat-stroked-button color="accent" style="float: right;margin-right:40px;" (click)="clearInputs()"> {{ 'GENERAL.CLEAR' | translate }}</button>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row card">
      <div class="col-lg-12" *ngIf="loadingVehicles">
        <mat-spinner style="margin: 0 auto;"></mat-spinner>
      </div>
      <div class="col-lg-12" *ngIf="!loadingVehicles && vehicles && vehicles.length === 0" style="padding-top:10px;padding-bottom:10px;font-size:18px;">
        <span>{{ 'VEHICLES.NONE_FOUND' | translate }}</span>
      </div>
      <div class="col-lg-12" *ngIf="!loadingVehicles && vehicles && vehicles.length > 0">
        <div class="card-header-warning">
          {{ 'VEHICLES.LIST' | translate }}
        </div>
        <table class="table card-body text-center">
          <thead>
            <tr>
              <th scope="col">{{ 'VEHICLES.MATRICULA' | translate }}</th>
              <th scope="col">{{ 'VEHICLES.LABEL' | translate }}</th>
              <th scope="col">{{ 'VEHICLES.STATUS' | translate }}</th>
              <th scope="col">{{ 'VEHICLES.NUM_USERS' | translate }}</th>
              <th scope="col" class="col-accions">{{ 'VEHICLES.ACTIONS' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="vehicles == undefined || vehicles.length == 0">
              <td colspan="9" class="text-center">
                <h4>{{ 'GENERAL.NOT_EMPTY' | translate}}</h4>
              </td>
            </tr>
            <tr *ngFor="let vehicle of vehicles">
              <td scope="row">{{ vehicle.plateNumber }}</td>
              <td scope="row">
                {{ vehicle.ecologicalTag || vehicle.ecologicalTag == '0' ? vehicle.ecologicalTag : '-' }}
              </td>
              <td scope="row" class="div-wrapper">
                <mat-chip-list *ngIf="vehicle.vehicleRegistrationState != null">
                  <mat-chip [ngStyle]="getColorState(vehicle)">{{ vehicle.vehicleRegistrationState.i18n.cat }}</mat-chip>
                </mat-chip-list>
              </td>
              <td scope="row">
                {{ vehicle.numUsers }}
              </td>
              <td scope="row">
                <button mat-raised-button mat-button [matMenuTriggerFor]="menu" color="primary">{{ 'GENERAL.ACTIONS' | translate }}</button>
                <mat-menu #menu="matMenu">
                  <button [disabled]="!curUser.hasPermission(FUNCIONALITIES.GUILD_MANAGEMENT)" *ngIf="!vehicle.closingDate" mat-menu-item [routerLink]="['/vehicles-bus/' + vehicle.vehicleId]" [queryParams]="{ guildMemberId : vehicle.guildMemberId }">
                    <div class="actionText">
                          {{ 'GENERAL.MODIFY' | translate }}
                        </div>
                    </button>
                    <button *ngIf="_currentUserService.hasPermission(FUNCIONALITIES.USER_MANAGEMENT)" mat-menu-item (click)="modifyVehicle(vehicle)" style="cursor:pointer;">
                        <div class="actionText">
                            {{ 'VEHICLES.MODIFY_ESTAT' | translate }}
                        </div>
                      </button>
                  <button mat-menu-item (click)="consultaDGT(vehicle)" style="cursor:pointer;">
                    <div class="actionText">
                      {{ 'DIALOG_CONSULTA_DGT.CONSULT_DGT' | translate }}
                    </div>
                  </button>
                  <!--<button mat-menu-item (click)="consultaPermissos(vehicle)" style="cursor:pointer;">
                    <div class="actionText">
                      {{ 'DIALOG_CONSULTA_DGT.PERMISSIONS' | translate }}
                    </div>
                  </button>-->
                  <!--
                  <button [disabled]="!curUser.hasPermission(FUNCIONALITIES.GUILD_MANAGEMENT)" *ngIf="!vehicle.closingDate" mat-menu-item (click)="deleteVehicle(vehicle.vehicleId)">
                      <div class="actionText">
                        {{ 'GENERAL.DELETE' | translate }}  
                      </div>
                  </button>
                -->
                </mat-menu>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <td colspan="9">
              <app-paginator></app-paginator>
            </td>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>