<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 card">
          <div class="card-body">
            <p *ngIf="addingNew">
              {{ 'VIGILANTS.FORM' | translate }}
            </p>
            <div class="row">
              <div class="col-lg-3">
                <mat-form-field>
                  <input matInput placeholder="{{ 'EDIT_USUARIS_BO.NAME' | translate }}" [formControl]="fullName" [(ngModel)]="watch.fullName">
                  <mat-error *ngIf="fullName.invalid">{{getFullNameErrorMessage() | translate }}</mat-error>
                </mat-form-field>
              </div>
              <div class="col-lg-3">
                <mat-form-field>
                  <input matInput placeholder="{{ 'EDIT_USUARIS_BO.EMAIL' | translate }}" [formControl]="email" [(ngModel)]="watch.email">
                  <mat-error *ngIf="email.invalid">{{getEmailErrorMessage() | translate }}</mat-error>
                        
                </mat-form-field>
              </div>
              <div class="col-lg-5">
                <mat-form-field>
                  <mat-select [(ngModel)]="watch.city" [compareWith]="cityComparator" placeholder="{{ 'EDIT_USUARIS_BO.MUNICIPI' | translate }}">
                    <mat-option *ngFor="let city of cities" [value]="city">{{ city.name }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          <hr/>
          <button mat-raised-button [disabled]="email.invalid || fullName.invalid" (click)="saveUser()" color="accent" class="marginLeft15px" style="float:right;">
            {{ 'GENERAL.SAVE' | translate }}
          </button>
          <button mat-raised-button color="white" [routerLink]="['/vigilants/gestio']" style="float:right;">
            {{ 'GENERAL.CANCEL' | translate }}
          </button>
          </div>
        </div>
      </div>
    </div>
  </div>