<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 card">
        <div class="card-header-warning">
          {{ 'CERCADOR.TITLE' | translate }}
        </div>
        <div class="card-body">
          <form ngNoForm action="javascript:void(cercador.searchTickets());">
            <div class="row">
              <div class="col-lg-12" style="padding-top:10px;">
                <div class="row">
                  <div class="col-lg-3">
                    <mat-form-field >
                      <mat-select [(value)]="cercador.filter.selectedDay" (selectionChange)="antiguetatChanged($event)"  placeholder="{{ 'CERCADOR.ANT' | translate }}">
                        <mat-option *ngFor="let day of cercador.days" [value]="day">{{day.name | translate}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-3">
                    <mat-form-field>
                      <input matInput (dateChange)="changeDate()" [max]="cercador.filter.toDate" [(ngModel)]="cercador.filter.fromDate" [matDatepicker]="desdeDatepicker" placeholder="{{ 'CERCADOR.FROM' | translate }}">
                      <mat-datepicker-toggle matSuffix [for]="desdeDatepicker"></mat-datepicker-toggle>
                      <mat-datepicker locale="es" #desdeDatepicker></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-3">
                    <mat-form-field>
                      <input matInput (dateChange)="changeDate()" [min]="cercador.filter.fromDate" [(ngModel)]="cercador.filter.toDate" [matDatepicker]="finsDatepicker" placeholder="{{ 'CERCADOR.TO' | translate }}">
                      <mat-datepicker-toggle matSuffix [for]="finsDatepicker"></mat-datepicker-toggle>
                      <mat-datepicker #finsDatepicker></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-3">
                    <mat-form-field>
                      <mat-select [(value)]="cercador.filter.typeDate" placeholder="{{ 'CERCADOR.DATE_FILTER' | translate }}">
                        <mat-option *ngFor="let day of cercador.typeDates" [value]="day">{{day | translate}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <mat-form-field>
                      <input matInput placeholder="{{ 'CERCADOR.MAT' | translate }}" [formControl]="cercadorMat" [(ngModel)]="cercador.filter.matricules" (keyup)="changePlateNumber()">
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4">
                      <mat-form-field>
                        <mat-select multiple [disabled]="true" [(value)]="cercador.filter.typeMovements" placeholder="{{ 'CERCADOR.TYPE_MOV' | translate }}">
                          <mat-option *ngFor="let ticketType of cercador.ticketTypes" [value]="ticketType.ticketTypeId">
                            {{ ticketType.description }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                  </div>
                  <div class="col-lg-4">
                    <mat-form-field>
                      <mat-select multiple [(value)]="cercador.filter.zoneTypes" placeholder="{{ 'CERCADOR.ZONE_TYPE' | translate }}">
                        <mat-option *ngFor="let zoneType of cercador.zoneTypes" [value]="zoneType.zoneTypeId">
                          <div>{{ cercador.getZoneTypeName(zoneType) | translate }}</div>
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <!---->
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <mat-form-field>
                      <mat-select multiple [disabled]="cercador.selectorMunicipisDisabled()" [(value)]="cercador.filter.cityIds" placeholder="{{ 'CERCADOR.CITIES' | translate }}">
                        <mat-option *ngFor="let city of cercador.citiesFiltrats" [value]="city.juridicId">
                          <div> {{ city.name }} </div>
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4">
                    <mat-form-field>
                      <input matInput [(ngModel)]="cercador.maxTickets" placeholder="{{ 'CERCADOR.MAX_TICKETS' | translate }}"
                      />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <mat-form-field>
                      <input *ngIf="isDum" matInput name="email" [placeholder]="'CERCADOR.EMAIL_FILTER' | translate" [(ngModel)]="cercador.filter.email">
                      <input *ngIf="!isDum" matInput name="email" [placeholder]="'CERCADOR.EMAIL_FILTER_USER' | translate" [(ngModel)]="cercador.filter.email">
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4">
                    <mat-form-field>
                      <mat-select name="userStateId" [(ngModel)]="cercador.filter.userStateId" placeholder="{{ 'GESTIO_OPERATIVA.USER_STATE_ID' | translate }}">
                        <mat-option>{{ 'GENERAL.NONE' | translate }}</mat-option>
                        <mat-option *ngFor="let estat of cercador.estatsUsuari" [value]="estat.value">{{ estat.nom | translate }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4">
                    <mat-form-field>
                      <input *ngIf="isDum" matInput [(ngModel)]="cercador.filter.nif" [placeholder]="'CERCADOR.NIF_FILTER' | translate ">
                      <input *ngIf="!isDum" matInput [(ngModel)]="cercador.filter.nif" [placeholder]="'CERCADOR.NIF_FILTER_USER' | translate ">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <!--
                  <div class="col-lg-4">
                    <mat-form-field>
                      <input matInput placeholder="{{ 'CERCADOR.PHONE_FILTER' | translate }}" [(ngModel)]="cercador.filter.telefon">
                    </mat-form-field>
                  </div>
                -->
                  <div class="col-lg-4" *ngIf="isDum">
                    <mat-form-field>
                      <mat-select [(ngModel)]="cercador.filter.gremi" placeholder="{{ 'GESTIO_OPERATIVA.GREMI' | translate }}">
                        <mat-option *ngFor="let gremi of cercador.gremis | orderBy:'name'" [value]="gremi.gremiId">{{ gremi.name }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-lg-4">
                    <mat-form-field>
                      <input matInput placeholder="{{ 'CERCADOR.TIQUETS' | translate }}" [formControl]="cercadorTiquets" [(ngModel)]="cercador.filter.tickets">
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-12" style="padding-left:15%">
                    <div class="row">
                      <div class="col-lg-12">
                        <div style="position: static;right: 0;">
                            <button type="submit" mat-raised-button color="accent" (click)="cercador.searchTickets()" style="float: right;">
                                {{ 'GENERAL.SEARCH' | translate }}
                              </button>
                            
                            <button mat-raised-button (click)="cercador.exportTickets('pdf')" [disabled]="cercador.filter.tickets!=null || cercador.exportInProgress" style="float: right;margin-right:40px;"
                            color="white">
                            {{ 'GENERAL.EXPORT_PDF' | translate }}
                          </button>
                          <button mat-raised-button (click)="cercador.exportTickets('excel')" [disabled]="cercador.filter.tickets!=null || cercador.exportInProgress" style="float: right;margin-right:40px;"
                            color="white">
                            {{ 'GENERAL.EXPORT_EXCEL' | translate }}
                          </button>
  							  <button mat-stroked-button color="accent" style="float: right; margin-right: 40px;" (click)="cercador.clearInputs()"> {{ 'GENERAL.CLEAR' | translate }}</button>
  							
                          
                        
                        </div>
                       </div>
                    </div>
                  </div>
                  <div class="col-lg-3" style="text-align: right; margin-top: 25px; margin-bottom: 10px; font-size: 15px;">
                    <p id="alerta1000Tiquets">
                      <span style="color:black;" *ngIf="cercador.mostrarAlertaNumTiquets"> {{'CERCADOR.ALERTA_CERCADOR_NUM_TIQUETS' | translate }} {{cercador.numTiquets}}</span>
                      <br />
                      <span style="color:red;" *ngIf="cercador.mostrarAlertaMaxTiquets">{{'CERCADOR.ALERTA_CERCADOR_MAX_TIQUETS' | translate }} {{cercador.maxTickets}} {{'CERCADOR.ALERTA_CERCADOR_MAX_TIQUETS_2'
                        | translate }}</span>
                    </p>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="row">
                    <div class="col-lg-12">
                      <div *ngIf="cercador.tickets != undefined && cercador.tickets.length === 0">
                        <hr />
                        <span>{{ 'EDIT_USUARIS.NO_TICKETS' | translate }}</span>
                      </div>
                      <div *ngIf="cercador.loadingTickets">
                        <hr />
                        <mat-spinner style="margin:0 auto;"></mat-spinner>

                      </div>
                      <table class="table" *ngIf="cercador.tickets != undefined && cercador.tickets.length > 0">
                        
                        <thead>
                          <tr>
                            <th scope="col">{{ 'EDIT_USUARIS.ID' | translate }}</th>
                            <th scope="col">{{ 'CERCADOR.DATA_INICI' | translate }}</th>
                            <th scope="col">{{ 'CERCADOR.DATA_FI' | translate }}</th>

                            <th scope="col">{{ 'EDIT_USUARIS.MAT' | translate }}</th>
                            <th scope="col" style="display:none;">
                              {{ 'CERCADOR.SERVICE' | translate }}
                            </th>

                            <th scope="col">{{ 'EDIT_USUARIS.TYPE_MOV' | translate }}</th>
                            <th scope="col">{{ 'EDIT_USUARIS.ZONE' | translate }}</th>

                            <th scope="col">{{ 'EDIT_USUARIS.CITY' | translate }}</th>


                            <th scope="col">{{ 'EDIT_USUARIS.TIME' | translate }}</th>
                            <th scope="col" style="display:none;">{{ 'EDIT_USUARIS.COST' | translate }}</th>
                            <th scope="col" *ngIf="!isDum">{{ 'CERCADOR.IMPORT' | translate }}</th>
                            <th scope="col">{{ 'EDIT_USUARIS.EMAIL' | translate }}</th>
                            <th scope="col">{{ 'EDIT_USUARIS.ACTION' | translate }}</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let ticket of cercador.tickets">
                            <td scope="row" style="width: 120px;"> 
                              <span class="material-icons" *ngIf="ticket.unpaid" [matTooltip]="'CERCADOR.UNPAID' | translate " matTooltipPosition="above">
                                warning
                                </span>
                                {{ ticket.ticketId }} </td>
                            <td scope="row"> {{ ticket.startDate | localizedDate }} </td>
                            <td scope="row"> {{ ticket.stopDate | localizedDate }}</td>

                            <td scope="row"> {{ ticket.plateNumber }} </td>

                            <td scope="row"> {{ cercador.getTipusMoviement(ticket) }} </td>

                            <td scope="row"> {{ticket.segmentCode}} - {{ ticket.parkingName }} </td>

                            <td scope="row"> {{ ticket.city }}</td>
                            <td scope="row"> {{ !ticket.stopDate ? '' : ticket.parkingTime }} </td>
                            <td scope="row" *ngIf="!isDum"> {{ ticket.price }} €</td>
                            <td scope="row" style="display:none;"> </td>
                            <td scope="row">
                              <a *ngIf="ticket.userId" [routerLink]="['/gestio-operativa/'+ticket.userId]">
                                {{ ticket.userDesc }}
                              </a>
                            </td>
                            <td>
                              <button mat-raised-button mat-button [matMenuTriggerFor]="menu" color="primary">{{ 'CERCADOR.ACTION' | translate }}</button>
                              <mat-menu #menu="matMenu">
                                <button mat-menu-item style="cursor:pointer;" (click)="cercador.getPdf(ticket.ticketId)">
                                  <div class="actionText">
                                    {{ 'GENERAL.DOWNLOAD' | translate }} PDF
                                  </div>
                                  <div class="actionIcon">
                                    <i class="material-icons">
                                      picture_as_pdf
                                    </i>
                                  </div>
                                </button>
                                <button mat-menu-item *ngIf="cercador.canStop(ticket)" (click)="cercador.stopTicket(ticket.ticketId)">
                                  <div class="actionText">
                                    {{ 'EDIT_USUARIS.STOP' | translate }}
                                  </div>
                                  <div class="actionIcon">
                                    <i class="material-icons">
                                      stop
                                    </i>
                                  </div>
                                </button>
                                <button style="display:none;" mat-menu-item *ngIf="cercador.canRefund(ticket)" (click)="cercador.refundTicket(ticket.ticketId)">
                                  <div class="actionText">
                                    {{ 'EDIT_USUARIS.REFUND' | translate }}
                                  </div>
                                  <div class="actionIcon">
                                    <i class="material-icons">
                                      assignment_return
                                    </i>
                                  </div>
                                </button>
                                <button mat-menu-item *ngIf="cercador.canShowMap(ticket)" (click)="cercador.openMap(ticket)">
                                  <div class="actionText">
                                    {{ 'CERCADOR.OPEN_MAP' | translate }}
                                  </div>
                                  <div class="actionIcon">
                                    <i class="material-icons">
                                      my_location
                                    </i>
                                  </div>
                                </button>
                                <button mat-menu-item *ngIf="ticket.unpaid" (click)="cercador.payPending(ticket.ticketId)">
                                  <div class="actionText">
                                    {{ 'CERCADOR.UNPAID' | translate }}
                                  </div>
                                  <div class="actionIcon">
                                    <i class="material-icons">
                                      warning
                                    </i>
                                  </div>
                                </button>
                              </mat-menu>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                    </div>
                  </div>
                </div>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>