<div class="main-content">
  <div class="container-fluid w-100">
    <div class="row">
      <div class="col-lg-12">
        <h3>
          {{ 'AREES.RESTRICIONS.TITLE' | translate }}
            <button [disabled]="!curUser.hasPermission(FUNCIONALITIES.AREA_MANAGEMENT)"[disabled]="!curUser.hasPermission(FUNCIONALITIES.AREA_MANAGEMENT)" [routerLink]="['/arees/restricions/new']" mat-raised-button color="primary" style="margin-left:40px;">
              {{ 'GENERAL.ADD' | translate }}
              <i class="material-icons">
                add_circle
              </i>
            </button>
        </h3>
      </div>
    </div>
    <div class="row card" style="padding-left:15px;">
      <div class="row">
        <div class="col-lg-12">
          <div *ngIf="loadingRes">
            <mat-spinner style="margin: 0 auto;">

            </mat-spinner>
          </div>
          <table class="table" *ngIf="!loadingRes">
            <thead>
              <tr>
                <th scope="col">{{ 'AREES.RESTRICIONS.ID' | translate }}</th>
                <th scope="col">{{ 'AREES.RESTRICIONS.DESC' | translate }}</th>
                <th scope="col">{{ 'AREES.RESTRICIONS.SEGMENTS' | translate }}</th>
                <th scope="col">{{ 'AREES.RESTRICIONS.START_DATE' | translate }}</th>
                <th scope="col">{{ 'AREES.RESTRICIONS.END_DATE' | translate }}</th>
                <th scope="col">{{ 'GENERAL.ACTIONS' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let re of res">
                <td scope="row"> {{ re.restrictionId }} </td>
                <td scope="row"> {{ re.description }} </td>
                <td scope="row"> {{ re.segments.length }}</td>
                <td scope="row"> {{ re.startDate | localizedDate }} </td>
                <td scope="row"> {{ re.endDate | localizedDate }} </td>
                <td scope="row">
                  <button [disabled]="!curUser.hasPermission(FUNCIONALITIES.AREA_MANAGEMENT)" class="buttonIcon" [routerLink]="['/arees/restricions/'+re.restrictionId ]" mat-button>
                    <i class="material-icons">
                      edit
                    </i>
                  </button>
                  <button class="marginLeft15px buttonIcon" mat-button (click)="deleteRes(re)" color="white" [disabled]="!curUser.hasPermission(FUNCIONALITIES.AREA_MANAGEMENT) || re.deletedDate">
                    <i class="material-icons">
                      delete
                    </i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>