<div class="main-content">
  <div class="container-fluid card">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-4">
          <mat-form-field>
            <mat-select [(ngModel)]="not.notificationType.notificationTypeId" placeholder="{{ 'ADD_NOTIFICACIONS.SELECT_TYPE' | translate }}">
              <mat-option *ngFor="let notType of notTypes" [value]="notType.notificationTypeId">{{ notType.description }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <mat-form-field>
            <input matInput placeholder="{{ 'ADD_NOTIFICACIONS.TITLE_CA' | translate }}" [formControl]="title_ca" [(ngModel)]="not.title_ca">
            <mat-error *ngIf="title_ca.invalid">{{ 'ADD_NOTIFICACIONS.TITLE_CA_REQUIRED' | translate }}</mat-error>

          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <mat-form-field>
            <input matInput placeholder="{{ 'ADD_NOTIFICACIONS.TITLE_ES' | translate }}" [formControl]="title_es" [(ngModel)]="not.title_es">
            <mat-error *ngIf="title_es.invalid">{{ 'ADD_NOTIFICACIONS.TITLE_ES_REQUIRED' | translate }}</mat-error>

          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <mat-form-field>
            <input matInput placeholder="{{ 'ADD_NOTIFICACIONS.TITLE_EN' | translate }}" [formControl]="title_en" [(ngModel)]="not.title_en">
            <mat-error *ngIf="title_en.invalid">{{ 'ADD_NOTIFICACIONS.TITLE_EN_REQUIRED' | translate }}</mat-error>

          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <mat-form-field>
            <input matInput placeholder="{{ 'ADD_NOTIFICACIONS.DESC_CA' | translate }}" [formControl]="message_ca" [(ngModel)]="not.message_ca">
            <mat-error *ngIf="message_ca.invalid">{{ 'ADD_NOTIFICACIONS.DESC_CA_REQUIRED' | translate }}</mat-error>

          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <mat-form-field>
            <input matInput placeholder="{{ 'ADD_NOTIFICACIONS.DESC_ES' | translate }}" [formControl]="message_es" [(ngModel)]="not.message_es">
            <mat-error *ngIf="message_es.invalid">{{ 'ADD_NOTIFICACIONS.DESC_ES_REQUIRED' | translate }}</mat-error>

          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <mat-form-field>
            <input matInput placeholder="{{ 'ADD_NOTIFICACIONS.DESC_EN' | translate }}" [formControl]="message_en" [(ngModel)]="not.message_en">
            <mat-error *ngIf="message_en.invalid">{{ 'ADD_NOTIFICACIONS.DESC_EN_REQUIRED' | translate }}</mat-error>

          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <mat-form-field>
            <input matInput placeholder="{{ 'ADD_NOTIFICACIONS.URL_CA' | translate }}" [(ngModel)]="not.url_ca">
          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <mat-form-field>
            <input matInput placeholder="{{ 'ADD_NOTIFICACIONS.URL_ES' | translate }}" [(ngModel)]="not.url_es">
          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <mat-form-field>
            <input matInput placeholder="{{ 'ADD_NOTIFICACIONS.URL_EN' | translate }}" [(ngModel)]="not.url_en">
          </mat-form-field>
        </div>
      </div>
      <div class="row" style="display:none;">
        <div class="col-lg-12">
          {{ 'ADD_NOTIFICACIONS.VISIBILITY' | translate }}
          <br/>
          <mat-radio-group style="display:inline-flex;flex-direction:column" [(ngModel)]="not.forAll">
            <mat-radio-button [value]="true">{{ 'ADD_NOTIFICACIONS.ALL' | translate }}</mat-radio-button>
            <mat-radio-button [value]="false">{{ 'ADD_NOTIFICACIONS.RESTRINGIT' | translate }}</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-lg-12">
          <button mat-raised-button color="white" [routerLink]="['/notificacions/llista']" style="float:left;">
            {{ 'GENERAL.CANCEL' | translate }}
          </button>
          <button mat-raised-button [disabled]="title_ca.invalid || title_es.invalid || title_en.invalid || message_ca.invalid || message_en.invalid || message_es.invalid"
            (click)="saveNotification()" color="accent" style="float:right;">
            {{ 'GENERAL.SAVE' | translate }}
          </button>
        </div>

      </div>
    </div>
  </div>
</div>