<div>
    <h2 mat-dialog-title>{{ 'AREES.TRAMS.DELETE_TRAM' | translate }}</h2>
    <hr />
    <mat-dialog-content>
      {{ 'AREES.TRAMS.DELETE_TRAM_INFO' | translate }}
    </mat-dialog-content>
    <hr />
    <mat-dialog-actions style="float:right;">
      <button mat-raised-button (click)="onCloseConfirm()" color="primary">{{ 'GENERAL.YES' | translate }}</button>
      <button mat-raised-button (click)="onCloseCancel()">{{ 'GENERAL.NO' | translate }}</button>
    </mat-dialog-actions>
  </div>