<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h3>{{'VIGILANTS.TITLE' | translate }}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5">
            <a [routerLink]="['/vigilants/gestio/new']">
              <button [disabled]="!curUserService.hasPermission(FUNCIONALITIES.WATCHER_MANAGEMENT)" mat-raised-button color="primary">
                {{ 'GENERAL.ADD' | translate }}
                <i class="material-icons">
                  add_circle
                </i>
              </button>
            </a>
        </div>
        <div class="col-lg-7">
            <mat-form-field style="float:right;margin-top:5px;padding-right:15px;">
              <input matInput placeholder="{{ 'GENERAL.SEARCH_M' | translate }}" [(ngModel)]="search">
            </mat-form-field>
          </div>
      </div>
      <div class="row card" style="margin-top:0;">
        <div class="col-lg-12 card-body">
          <table class="table card-body">
            <thead>
              <tr>
                <th scope="col" style="display:none;">
                  <mat-checkbox [checked]="isAllSelected()" (change)="toggleAll()"></mat-checkbox>
                  <br/>
                </th>
                <th scope="col">{{ 'USUARIS_BO.NAME' | translate }}</th>
                <th scope="col">{{ 'USUARIS_BO.EMAIL' | translate }}</th>
                <th scope="col">{{ 'VIGILANTS.CITY' | translate }}</th>
                <th scope="col">{{ 'GENERAL.ACCIONS' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="loadingWatcher">
                <td colspan="7">
                  <mat-spinner style="margin:0 auto;"></mat-spinner>
                </td>
              </tr>
              <tr *ngFor="let watcher of watchers | filterWatcher: search">
                <td scope="row" style="display:none;">
                  <mat-checkbox [checked]="isSelected(watcher)" (change)="toggleUser(watcher)"></mat-checkbox>
                  <br/>
                </td>
                <td scope="row">{{ watcher.fullName }}</td>
                <td scope="row">{{ watcher.email }}</td>
                <td scope="row">{{ watcher.city.name }}</td>
                <td scope="row">
                  <button class="marginLeft15px buttonIcon" mat-button [disabled]="!curUserService.hasPermission(FUNCIONALITIES.WATCHER_MANAGEMENT)" (click)="deleteUserDialog([watcher])">
                    <i class="material-icons">
                      delete
                    </i>
                  </button>
                  <button class="marginLeft15px buttonIcon" mat-button
                    matTooltip="{{'USUARIS_BO.RECOVER_PASSWORD' | translate}}" 
                    [disabled]="!curUserService.hasPermission(FUNCIONALITIES.WATCHER_MANAGEMENT)" 
                    (click)="sendEmailWatcher([watcher])" >
                    <i class="material-icons">
                      mail
                    </i>
                  </button>  
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>