<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <button mat-raised-button color="primary" style="float:right;" (click)="saveParams()">{{ 'GENERAL.SAVE' | translate }}</button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12" *ngIf="loadingParams">
          <mat-spinner style="margin:0 auto;"></mat-spinner>
      </div>
      <div class="col-lg-12 card">
        <mat-tab-group>
          <mat-tab *ngFor="let family of families" label="{{ family.name | translate }}">
            <div class="row">
              <div class="col-lg-12">
                <table class="table">
                  <thead>
                    <th>
                    </th>
                    <th>
                    </th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of family.items">
                      <td scope="row">{{ item.description }}</td>
                      <td scope="row">
                        <mat-form-field appearance="outline" *ngIf="item.valueType.toUpperCase() === 'NUMBER' || item.valueType.toUpperCase() === 'STRING'">
                          <input (input)="onInputChange(item)" *ngIf="item.valueType.toUpperCase() === 'NUMBER'" appNumeric numericType="decimal"  matInput [(ngModel)]="item.value"
                          />
                          <input (input)="onInputChange(item)" *ngIf="item.valueType.toUpperCase() === 'STRING'" matInput [(ngModel)]="item.value"
                          />
                          <span matSuffix>
                            {{ item.unit ? '(' + item.unit + ')' : '' }}</span>
                        </mat-form-field>
                        <mat-checkbox *ngIf="item.valueType.toUpperCase() === 'BOOLEAN'" [checked]="item.value" (change)="toggleValue(item)"></mat-checkbox>

                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>