<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div *ngIf="loadingVehicle" class="col-lg-12">
        <mat-spinner style="margin: 0 auto;"></mat-spinner>
      </div>
      <div *ngIf="!loadingVehicle" class="col-lg-12 card">
        <div class="card-header-warning">
          <span *ngIf="addingNew">{{ 'VEHICLES.NEW' | translate }}</span>
          <span *ngIf="!addingNew">{{ 'VEHICLES.EDIT' | translate }} {{ params.id }}</span>
        </div>
        <div class="card-body">
          <form [formGroup]="form" (ngSubmit)="save()">
            <div class="row">
              <div class="col-lg-2">
                <mat-form-field>
                  <input matInput [disabled]="!addingNew" maxlength="10" placeholder="{{ 'VEHICLES.MATRICULA' | translate }} *" formControlName="plateNumber" (keyup)="changePlateNumber($event.target.value)" (change)="changePlateNumber($event.target.value)">
                  <mat-hint align="end">{{this.form.get('plateNumber').value?.length || 0}}/10</mat-hint>
                </mat-form-field>
              </div>
              <div class="col-lg-2">
                <mat-slide-toggle [disabled]="!addingNew" formControlName="international">{{ 'VEHICLES.INT' | translate }}</mat-slide-toggle>
              </div>
              <div class="col-lg-4">
                <mat-form-field>
                  <mat-select [disabled]="addingNew" placeholder="{{ 'VEHICLES.STATE' | translate }}" (selectionChange)="stateChange($event.value)"
                    formControlName="state">
                    <mat-option *ngFor="let state of vehicleStates" [value]="state.vehicleRegistrationStateId">{{ state.i18n.cat }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-lg-4" *ngIf="stateWasChanged || this.form.get('descriptionState').value">
                <mat-form-field>
                  <textarea matInput maxlength="1500" formControlName="descriptionState" placeholder="{{ 'VEHICLES.DESCRIPTION_STATE' | translate }}"></textarea>
                  <mat-hint align="end">{{this.form.get('descriptionState').value?.length || 0}}/1500</mat-hint>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <mat-form-field>
                  <mat-select [disabled]="addingNew" placeholder="{{ 'VEHICLES.AUTH' | translate }}" formControlName="authorization">
                    <mat-option [value]="1">Comercial</mat-option>
                    <mat-option [value]="2">Autobus</mat-option>
                    <mat-option [value]="null">Sense tipus</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-lg-4">
                <mat-form-field>
                  <input matInput maxlength="50" placeholder="{{ 'VEHICLES.VEHICLE' | translate }} *" formControlName="car">
                  <mat-hint align="end">{{this.form.get('car').value?.length || 0}}/50</mat-hint>

                </mat-form-field>
              </div>
              <div class="col-lg-4">
                <mat-form-field>
                  <mat-select [disabled]="true" formControlName="etiqueta" placeholder="{{ 'VEHICLES.LABEL' | translate }}">
                    <mat-option value="">{{ 'VEHICLES.NO_TAG' | translate }}</mat-option> 
                    <mat-option *ngFor="let eti of etiquetas" [value]="eti">{{ eti }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row" *ngIf="!addingNew">
              <div class="col-lg-4">
                <mat-form-field>
                  <input matInput maxlength="200" placeholder="{{ 'VEHICLES.MARCA' | translate }}" formControlName="marca">
                  <mat-hint align="end">{{this.form.get('marca').value?.length || 0}}/200</mat-hint>

                </mat-form-field>
              </div>
              <div class="col-lg-4">
                <mat-form-field>
                  <input matInput maxlength="200" placeholder="{{ 'VEHICLES.MODEL' | translate }}" formControlName="model">
                  <mat-hint align="end">{{this.form.get('model').value?.length || 0}}/200</mat-hint>

                </mat-form-field>
              </div>

              <div class="col-lg-4">
                <mat-form-field>
                  <input [disabled]="true" matInput placeholder="{{ 'VEHICLES.REGISTRATION_DATE' | translate }}" formControlName="registrationDate">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <button mat-stroked-button color="accent" [routerLink]="['/vehicles-bus']" style="float:left;">
                  {{ 'GENERAL.CANCEL' | translate }}
                </button>

                <button [disabled]="form.status == 'INVALID' || valueChanged()" (click)="save()" mat-raised-button style="float:right;" color="primary" type="submit">
                  {{ 'GENERAL.SAVE' | translate }}
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
        <div *ngIf="vehicleDocumentation" class="col-lg-12 card">
            <div class="card-body">
                <div class="col-md-4">
                    <div>
                        <div class="panel-body">
                            <h4>{{ 'VEHICLES.FILES' | translate }}</h4>
                            <table class="table">
                                <tbody class="mb-4">
                                    <tr>
                                      <th>{{ 'VEHICLES.FILENAME' | translate }}</th>
                                      <th>{{ 'VEHICLES.USER' | translate }}</th>
                                      <th>{{ 'VEHICLES.DATE' | translate }}</th>
                                      <th></th>
                                    </tr>
                                    <tr *ngFor="let doc of vehicleDocumentation">
                                        <td>{{doc.fileName}}</td>
                                        <td>{{doc.fileUserName}}</td>
                                        <td>{{doc.fileDate | localizedDate}}</td>
                                        <td>
                                            <button class="buttonIcon" mat-button (click)="download(doc.docId)">
                                              <i class="material-icons">
                                                  <mat-icon>cloud_download</mat-icon>
                                              </i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div> 
            </div>
        </div>
    </div>
    </div>
  </div>
</div>