<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h3>{{'TARGETAS.TITLE' | translate }}</h3>
      </div>
    </div>
    <div class="row card">
      <div class="col-lg-12 card-body">
        <mat-tab-group>
          <mat-tab label="{{ 'TARGETAS.CREATE' | translate }}" *ngIf="curUser.hasPermission(FUNCIONALITIES.GUILD_MANAGEMENT)">
            <div class="row" style="padding-top: 10px;">
              <div class="col-lg-12" *ngIf="savingTargetas">
                <mat-spinner style="margin: 0 auto;">

                </mat-spinner>
              </div>
              <div class="col-lg-12" *ngIf="!savingTargetas">
                <form [formGroup]="formCreate" (ngSubmit)="save()">
                  <div class="row">
                    <div class="col-lg-4">
                      <mat-form-field>
                        <input type="number" appNumeric numericType="number" matInput placeholder="{{ 'TARGETAS.NUM_FROM' | translate }}" formControlName="numFrom" />
                      </mat-form-field>
                    </div>
                    <div class="col-lg-4">
                      <mat-form-field>
                        <input type="number" appNumeric numericType="number" matInput placeholder="{{ 'TARGETAS.NUM_TO' | translate }}" formControlName="numTo" />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4">
                      <mat-form-field>
                        <input type="number" numericType="decimal" matInput placeholder="{{ 'TARGETAS.SALDO' | translate }}" formControlName="saldo" />
                      </mat-form-field>
                    </div>
                    <div class="col-lg-4">
                      <mat-form-field>
                        <mat-select formControlName="assign" placeholder="{{ 'TARGETAS.ASSIGN.GREMI' | translate }}">
                          <mat-option [value]="''">{{ 'TARGETAS.NO_ASSIGN' | translate }}</mat-option>
                          <mat-option *ngFor="let guild of gremis" [value]="guild.gremiId">{{ guild.name }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row" *ngIf="errorCreatedCard">
                    <div class="col-lg-4">
                        <p class="text-danger">{{errorCreatedCard}}</p>
                    </div>
                  </div>
                  <hr/>
                  <div class="row">
                    <div class="col-lg-12">
                      <button [disabled]="formCreate.status === 'INVALID'" mat-raised-button type="submit" color="primary" style="float:right;">
                        {{ 'TARGETAS.CREATE_NEW' | translate }}
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="{{ 'TARGETAS.CHECK_ASSIGN' | translate }}" style="padding-top: 10px;">
            <div class="row">
              <div class="col-lg-12">
                <div *ngIf="loadingCards">
                  <mat-spinner style="margin: 0 auto;">

                  </mat-spinner>
                </div>
                <div *ngIf="!showingResults && !loadingCards">
                  <form [formGroup]="formSearch">
                    <div class="row">
                      <div class="col-lg-6">
                        <mat-form-field>
                          <mat-select formControlName="nameGremi" placeholder="{{ 'TARGETAS.GREMI' | translate }}">
                            <mat-option *ngFor="let guild of gremis" [value]="guild.gremiId">
                              {{ guild.name | translate }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6">
                        <mat-form-field>
                          <input matInput appNumeric numericType="number" formControlName="numTargeta" placeholder="{{ 'TARGETAS.NUM_TAR' | translate }}" />
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6">
                        <mat-form-field>
                          <input matInput appNumeric numericType="number" formControlName="numTargetaFrom" placeholder="{{ 'TARGETAS.NUM_TAR_FROM' | translate }}"
                          />
                        </mat-form-field>
                      </div>
                      <div class="col-lg-6">
                        <mat-form-field>
                          <input matInput appNumeric numericType="number" formControlName="numTargetaTo" placeholder="{{ 'TARGETAS.TO' | translate }}" />
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6">
                        <mat-form-field>
                          <input matInput formControlName="nomAgremiat" placeholder="{{ 'TARGETAS.AGREMIAT' | translate }}" />
                        </mat-form-field>
                      </div>
                      <div class="col-lg-6">
                        <mat-form-field>
                          <input matInput formControlName="dniAgremiat" placeholder="{{ 'TARGETAS.DNI_AGREMIAT' | translate }}" />
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6">
                        <mat-form-field>
                          <input matInput [matDatepicker]="dateCreatedFrom" placeholder="{{ 'TARGETAS.DATE_CREATED_FROM' | translate }}" formControlName="dateCreatedFrom">
                          <mat-datepicker-toggle matSuffix [for]="dateCreatedFrom"></mat-datepicker-toggle>
                          <mat-datepicker #dateCreatedFrom></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col-lg-6">
                        <mat-form-field>
                          <input matInput [matDatepicker]="dateCreatedTo" placeholder="{{ 'TARGETAS.TO' | translate }}" formControlName="dateCreatedTo">
                          <mat-datepicker-toggle matSuffix [for]="dateCreatedTo"></mat-datepicker-toggle>
                          <mat-datepicker #dateCreatedTo></mat-datepicker>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6">
                        <mat-form-field>
                          <input matInput [matDatepicker]="dateAssignGremiFrom" placeholder="{{ 'TARGETAS.DATE_ASSIGN_FROM' | translate }}" formControlName="dateAssignGremiFrom">
                          <mat-datepicker-toggle matSuffix [for]="dateAssignGremiFrom"></mat-datepicker-toggle>
                          <mat-datepicker #dateAssignGremiFrom></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col-lg-6">
                        <mat-form-field>
                          <input matInput [matDatepicker]="dateAssignGremiTo" placeholder="{{ 'TARGETAS.TO' | translate }}" formControlName="dateAssignGremiTo">
                          <mat-datepicker-toggle matSuffix [for]="dateAssignGremiTo"></mat-datepicker-toggle>
                          <mat-datepicker #dateAssignGremiTo></mat-datepicker>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6">
                        <mat-form-field>
                          <input matInput [matDatepicker]="dateAssignAgremiatFrom" placeholder="{{ 'TARGETAS.DATE_ASSIGN_AGREMIAT_FROM' | translate }}"
                            formControlName="dateAssignAgremiatFrom">
                          <mat-datepicker-toggle matSuffix [for]="dateAssignAgremiatFrom"></mat-datepicker-toggle>
                          <mat-datepicker #dateAssignAgremiatFrom></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col-lg-6">
                        <mat-form-field>
                          <input matInput [matDatepicker]="dateAssignAgremiatTo" placeholder="{{ 'TARGETAS.TO' | translate }}" formControlName="dateAssignAgremiatTo">
                          <mat-datepicker-toggle matSuffix [for]="dateAssignAgremiatTo"></mat-datepicker-toggle>
                          <mat-datepicker #dateAssignAgremiatTo></mat-datepicker>
                        </mat-form-field>
                      </div>
                      </div>
                      <div class="row">
                       <div class="col-lg-6">
                        <mat-form-field>
							<mat-select placeholder="Selecciona un estat" formControlName="guildCardStatusId">	                         
							<mat-option [value]="undefined">Selecciona un estat</mat-option>
							<mat-option *ngFor="let guildCardStatus of states"  [value]="guildCardStatus.id">
								 {{guildCardStatus.text}}
							</mat-option>
							</mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-4">
                        <p style="font-weight:bold;">{{ 'TARGETAS.ASSIGNED_GREMI' | translate }}</p>
                        <mat-radio-group formControlName="assignedToGremi" aria-label="Select an option">
                          <mat-radio-button [value]="true">
                            <b>{{ 'GENERAL.YES' | translate }}</b>
                          </mat-radio-button>
                          <mat-radio-button [value]="false" style="margin-left:20px;">
                            <b>{{ 'GENERAL.NO' | translate }}</b>
                          </mat-radio-button>
                          <mat-radio-button [value]="null" style="margin-left:20px;">
                            <b>{{ 'GENERAL.ALL' | translate }}</b>
                          </mat-radio-button>
                        </mat-radio-group>
                      </div>
                      <div class="col-lg-4">
                        <p style="font-weight:bold;">{{ 'TARGETAS.ASSIGNED_AGREMIAT' | translate }}</p>
                        <mat-radio-group formControlName="assignedToAgremiat" aria-label="Select an option">
                          <mat-radio-button [value]="true">
                            <b>{{ 'GENERAL.YES' | translate }}</b>
                          </mat-radio-button>
                          <mat-radio-button [value]="false" style="margin-left:20px;">
                            <b>{{ 'GENERAL.NO' | translate }}</b>
                          </mat-radio-button>
                          <mat-radio-button [value]="null" style="margin-left:20px;">
                            <b>{{ 'GENERAL.ALL' | translate }}</b>
                          </mat-radio-button>
                        </mat-radio-group>
                      </div>
                    </div>
                    <hr/>
                    <div class="row">
                      <div class="col-lg-12">
                       <button mat-raised-button color="primary" style="float:right;" (click)="search()">
                          {{ 'GENERAL.SEARCH' | translate }}
                        </button>
                        <button mat-raised-button [disabled]="exportInProgress" (click)="exportTargetas()" style="float:right;margin-right:40px;" color="primary">
                          {{ 'GENERAL.EXPORT_EXCEL' | translate }}
                        </button>
                       
                        <button mat-stroked-button color="accent" style="float: right;margin-right:40px;" (click)="clearInputs()"> {{ 'GENERAL.CLEAR' | translate }}</button>

                      </div>
                    </div>
                  </form>
                </div>
                <div *ngIf="showingResults && !loadingCards">
                  <h3>{{ 'TARGETAS.SHOWING_RESULTS' | translate }}</h3>
                  <p>{{ cards.length }} {{ 'TARGETAS.FOUND_RESULTS' | translate }}</p>
                  <div class="table-container">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">{{ 'TARGETAS.NUM_TAR' | translate }}</th>
                          <th scope="col">{{ 'TARGETAS.DATE_CREATED' | translate }}</th>
                          <th scope="col">{{ 'TARGETAS.INITIAL_SALDO' | translate }}</th>
                          <th scope="col">{{ 'TARGETAS.ACTUAL_SALDO' | translate }}</th>
                          <th scope="col">{{ 'TARGETAS.GREMI' | translate }}</th>
                          <th scope="col">{{ 'TARGETAS.DATE_ASSIGN_GREMI' | translate }}</th>
                          <th scope="col">{{ 'TARGETAS.AGREMIAT_EMPRESA' | translate }}</th>
                          <th scope="col">{{ 'TARGETAS.DNI_AGREMIAT' | translate }}</th>
                          <th scope="col">{{ 'TARGETAS.DATE_ASSIGN_AGREMIAT' | translate }}</th>
                          <th scope="col">{{ 'TARGETAS.CARD_STATUS' | translate }}</th>
                          <th scope="col">{{ 'TARGETAS.EXPIRED_PARKING_DATE' | translate }}</th>
                          <th scope="col" style="min-width:78px;">{{ 'GENERAL.ACTIONS' | translate }}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let card of cards | notDeleted">
                          <td scope="row"> {{ card.cardNumber | toSixDigits }} </td>
                          <td scope="row"> {{ card.cardCreatedDate | localizedDate }}</td>
                          <td scope="row"> {{ card.initialBalance }} €</td>
                          <td scope="row"> {{ card.balance }} €</td>
                          <td scope="row"> {{ card.guild ? card.guild.name : '' }}</td>
                          <td scope="row"> {{ card.cardAssignationGuildDate | localizedDate }}</td>
                          <td scope="row"> {{ card.guildMember ? card.guildMember.companyName : '' }}</td>
                          <td scope="row"> {{ card.guildMember ? card.guildMember.dni : '' }}</td>
                          <td scope="row"> {{ card.cardAssignationMemberDate | localizedDate }}</td>
                          <td scope="row"> {{ card.guildCardStatusId | guildCardStatusIDtoText }}</td>
                          <td scope="row"> {{ card.expiredParkingDate | localizedDate }}</td>
                          <td scope="row">
                          <button mat-raised-button mat-button [matMenuTriggerFor]="menu" color="primary">{{ 'GENERAL.ACTIONS' | translate }}</button>
                           <mat-menu #menu="matMenu">
                    
                            <button  *ngIf="curUser.hasPermission(FUNCIONALITIES.GUILD_MANAGEMENT)" [disabled]="estatDesactivada(card)  || card.guildCardStatusId == 6 || card.guildCardStatusId == 4 || card.guildCardStatusId ==5" mat-menu-item (click)="editarTargeta(card)" style="cursor:pointer;" >
                               <div class="actionText">
                           		 Assignar targeta 
                       		 </div>
                            </button>
                            
                            <button *ngIf="curUser.hasPermission(FUNCIONALITIES.GUILD_MANAGEMENT)" [disabled]="estatDesactivada(card) || card.guildCardStatusId == 6" mat-menu-item (click)="modifyTargeta(card)" style="cursor:pointer;">
                       		 <div class="actionText">
                           		 {{ 'TARGETAS.MODIFY_ESTAT' | translate }}
                       		 </div>
                      		</button>
                      		<button  *ngIf="curUser.hasPermission(FUNCIONALITIES.GUILD_MANAGEMENT)" mat-menu-item (click)="deleteTargeta(card)" style="cursor:pointer;">
                               <div class="actionText">
                           		 Eliminar targeta
                       		 </div>
                            </button>
                      		</mat-menu>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <hr />
                  <button mat-raised-button [disabled]="!massButtonsAllow()" (click)="massEdit()" style="float:left;" color="primary">
                  <i class="material-icons">edit</i>
                  </button>
                  <button mat-raised-button [disabled]="!allowMassEdition" (click)="massDelete()" style="float:left;margin-left:40px;" color="primary">
                  <i class="material-icons">delete</i>
                  </button>
                  <button mat-raised-button [disabled]="exportInProgress" (click)="exportTargetas()" style="float:right;"
                  color="primary">
                  {{ 'GENERAL.EXPORT_EXCEL' | translate }}
                </button>
                  <button style="float:right;margin-right:40px;" mat-raised-button (click)="showingResults=false" color="primary">
                    {{ 'GENERAL.BACK' | translate }}
                  </button>

                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>