$mat-smou: (
    50 : #fff5e1,
    100 : #ffe6b3,
    200 : #ffd581,
    300 : #ffc44f,
    400 : #ffb829,
    500 : #ffab03,
    600 : #ffa403,
    700 : #ff9a02,
    800 : #ff9102,
    900 : #ff8001,
    A100 : #ffffff,
    A200 : #fff8f2,
    A400 : #ffdcbf,
    A700 : #ffcea6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);