<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-4">
              <mat-form-field>
                <mat-select [(ngModel)]="not" placeholder="{{ 'PUSH.SELECT_NOT' | translate }}" (selectionChange)="changeNot($event)">
                  <mat-option *ngFor="let not of nots" [value]="not">{{ not.title_ca }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">

              <mat-radio-group style="display:inline-flex;flex-direction:column" [(ngModel)]="destination">
                <mat-radio-button style="display:none;" [value]="'all'" [disabled]="isDisabledAll()">{{ 'PUSH.ALL' | translate }}</mat-radio-button>
                <mat-radio-button [value]="'topic'" [disabled]="isDisabledTopic()">{{ 'PUSH.BY_TOPIC' | translate }}</mat-radio-button>
                <mat-radio-button [value]="'devices'" [disabled]="isDisabledDevices()">{{ 'PUSH.BY_LIST' | translate }}</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div class="row" *ngIf="destination == 'topic'">
            <div class="col-lg-12">
              {{ 'PUSH.BY_TOPIC' | translate }}
              <br/>
              <div style="border:1px solid black;width:30%;padding:5px;">
                <div *ngFor="let topic of topics">
                  <mat-checkbox [checked]="isChecked(topic)" (change)="toggleTopic(topic)">
                    {{ topic.description }}
                  </mat-checkbox>
                  <br/>
                </div>
              </div>

            </div>
          </div>
          <div class="row" *ngIf="destination == 'devices'">
            <div class="col-lg-12">
              {{ 'PUSH.BY_LIST' | translate }}
              <br/>
              <div style="width:50%;padding:5px;">
                <mat-form-field>
                  <textarea matInput [(ngModel)]="listDevices" placeholder="{{ 'PUSH.LIST' | translate }}"></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-lg-12">
              <mat-spinner style="margin:0 auto;" *ngIf="sending"></mat-spinner>
              <button *ngIf="!sending" mat-raised-button (click)="sendNotification()" [disabled]="(destination === 'devices' && listDevices.length === 0) || (destination === 'topic' && !isCheckedOneTopic())" color="accent" style="float:right;">
                {{ 'GENERAL.SEND' | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>