<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 card">
        <div class="card-header-warning">
          <span *ngIf="!exist">{{ 'GREMIS.NEW' | translate }}</span>
          <span *ngIf="exist">{{guild.owerName}}</span>
        </div>
        <div class="card-body" *ngIf="loadingGuild">
            <div class="row">
                <div class="col-lg-12" >
                    <mat-spinner style="margin: 0 auto;"></mat-spinner>
                </div>
            </div>
        </div>
        <div class="card-body" *ngIf="!loadingGuild">
          
          <form [formGroup]="cuentaForm" (ngSubmit)="save()">
            <div class="row">
              <div class="col-lg-4">
                <mat-form-field>
                  <input matInput placeholder="{{ 'GREMIS.EDIT_GREMI' | translate }}" formControlName="name" [(ngModel)]="guild.name">
                </mat-form-field>
              </div>
              <div class="col-lg-4">
                <mat-form-field>
                  <input matInput [matDatepicker]="desdeDatepicker" placeholder="{{ 'GREMIS.EDIT_CADUCITAT_CONV' | translate }}" formControlName="expirationDate" [(ngModel)]="guild.expirationDate">
                    <mat-datepicker-toggle matSuffix [for]="desdeDatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #desdeDatepicker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-lg-4">
                <mat-form-field>
                  <input matInput placeholder="{{ 'GREMIS.EDIT_NOM' | translate }}" formControlName="owerName" [(ngModel)]="guild.owerName">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <mat-form-field>
                  <input matInput placeholder="{{ 'GREMIS.EDIT_EMAIL' | translate }}" formControlName="email" [(ngModel)]="guild.email">
                </mat-form-field>
              </div>
              <div class="col-lg-4">
                <mat-form-field>
                  <input matInput placeholder="{{ 'GREMIS.EDIT_DNI' | translate }}" formControlName="nif" [(ngModel)]="guild.nif">
                </mat-form-field>
              </div>
              <div class="col-lg-4">
                <mat-form-field>
                  <input matInput appNumeric numericType="number" placeholder="{{ 'GREMIS.EDIT_PHONE' | translate }}" formControlName="telefoneNumber" [(ngModel)]="guild.telefoneNumber">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <mat-form-field>
                  <input matInput placeholder="{{ 'GREMIS.EDIT_DIRECTION' | translate }}" formControlName="address" [(ngModel)]="guild.address">
                </mat-form-field>
              </div>
              <div class="col-lg-4">
                <mat-form-field>
                    <mat-select placeholder="{{'GREMIS.CIUTAT' | translate}} *"   formControlName="cityId" [(ngModel)]="guild.cityId">
                        <mat-option *ngFor="let mun of municipis" [value]="mun.juridicId">{{ mun.name | translate }}</mat-option>
                    </mat-select>
                </mat-form-field>
              </div>
              <div class="col-lg-4">
                <mat-form-field>
                  <input matInput appNumeric numericType="number" placeholder="{{ 'GREMIS.EDIT_POSTAL_CODE' | translate }}" formControlName="zipCode" [(ngModel)]="guild.zipCode">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                {{ 'GREMIS.EDIT_PERMISSIONS' | translate }}
                <br/>
                <mat-radio-group>
                  <mat-checkbox  style="margin-right: 10px" formControlName="dumGranted" [(ngModel)]="guild.dumGranted"> {{ 'GREMIS.AREA_DUM' | translate }}</mat-checkbox>
                  <mat-checkbox  formControlName="parkingBsmGranted" [(ngModel)]="guild.parkingBsmGranted"> {{ 'GREMIS.VERDA_BSM' | translate }}</mat-checkbox>
                </mat-radio-group>
              </div>
              <div class="col-lg-8">
                  <mat-form-field>
                    <input matInput placeholder="{{ 'GREMIS.EDIT_DESCRIPTION' | translate }}" formControlName="gremiDesc" [(ngModel)]="guild.gremiDesc">
                  </mat-form-field>
                </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <button mat-stroked-button color="accent" [routerLink]="['/gestio-gremi/gremis']" style="float:left;">
                  {{ 'GENERAL.CANCEL' | translate }}
                </button>

                <button mat-raised-button style="float:right;" color="primary" type="submit" *ngIf="guild.deletedDate==null">
                  {{ 'GENERAL.SAVE' | translate }}
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>