<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
                <button type="submit" mat-raised-button color="primary" [routerLink]="['/notificacions/new']">{{ 'GENERAL.ADD' | translate }}</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 card">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">{{ 'LLISTAT_NOTIFICACIONS.TYPE' | translate }}</th>
                            <th scope="col">
                                {{ 'LLISTAT_NOTIFICACIONS.TITLE' | translate }}
                            </th>
                            <th scope="col">
                                {{ 'LLISTAT_NOTIFICACIONS.DATE_CREATION' | translate }}
                            </th>
                            <th scope="col">
                                {{ 'LLISTAT_NOTIFICACIONS.VISIBILE' | translate }}
                            </th>
                            <th scope="col" class="col-accions">{{ 'GREMIS.ACTIONS' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="loadingNots">
                            <td colspan="5">
                                <mat-spinner style="margin:0 auto;"></mat-spinner>
                            </td>
                        </tr>
                        <tr *ngFor="let not of nots">
                            <td scope="row">{{ not.notificationType.description }}</td>
                            <td scope="row">{{ not.title_ca }}</td>
                            <td scope="row">{{ not.creationDate | localizedDate }}</td>
                            <td scope="row">{{ (not.forAll ? 'LLISTAT_NOTIFICACIONS.ALL' : 'LLISTAT_NOTIFICACIONS.GROUPS') | translate }}</td>
                            <td scope="row">
                                <button class="buttonIcon" [routerLink]="['/notificacions/'+not.notificationId]" mat-button>
                                    <i class="material-icons">
                                      edit
                                    </i>
                                  </button>
                                  <button class="marginLeft15px buttonIcon" mat-button (click)="deleteNotificacioDialog(not.notificationId)">
                                    <i class="material-icons">
                                      delete
                                    </i>
                                  </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>