table,
td,
th {
  border-collapse: collapse;
}

table {
    width: 100%;
    table-layout: auto;
    overflow:scroll;
}

.fixed {
    table-layout: fixed;
}

table, tr, td{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.nameDocument{ 
    max-width: 150px;
}

.nameUser{
    max-width: 110px;
}

.dateDocument{
    max-width: 125px;
}