<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-3">

      </div>
      <div class="col-lg-5">
        <button [disabled]="paginator.isDisabledLeft()" style="float:left;" (click)="paginator.goFirst()" mat-raised-button color="primary" class="mat-small mat-arrow">
          <i class="material-icons">
            first_page
          </i>
        </button>
        <button [disabled]="paginator.isDisabledLeft()"  style="float:left;" (click)="paginator.goLeft()" mat-raised-button color="primary" class="mat-small mat-arrow">
          <i class="material-icons">
            chevron_left
          </i>
        </button>
        <mat-form-field style="margin-top:8px;width:180px;float:left;margin-left:4px;">
          <input style="padding-left:5px;" (input)="paginator.onPageChange()" appNumeric numericType="number" matInput [(ngModel)]="paginator.pag.page"
          />
          <span matSuffix>
            {{ 'EDIT_USUARIS.DE' | translate }} {{ paginator.pag.totalPages }} {{ 'EDIT_USUARIS.PAGES' | translate }}</span>
        </mat-form-field>
        <button [disabled]="paginator.isDisabledRight()" (click)="paginator.goRight()" mat-raised-button color="primary" class="mat-small mat-arrow">
          <i class="material-icons">
            chevron_right
          </i>
        </button>
        <button [disabled]="paginator.isDisabledRight()" (click)="paginator.goLast()" mat-raised-button color="primary" class="mat-small mat-arrow">
          <i class="material-icons">
            last_page
          </i>
        </button>
      </div>
      <div class="col-lg-4">
        <span style="float:left;margin-right:10px;">{{ 'EDIT_USUARIS.SHOWING' | translate }} </span>
        <mat-select style="float:left;width:40px;" [(value)]="paginator.pag.size" (selectionChange)="paginator.sizeChange()">
          <mat-option *ngFor="let size of paginator.sizes" [value]="size">{{ size }}</mat-option>
        </mat-select>
        <span style="float:left;margin-left:10px;"> {{ 'EDIT_USUARIS.ROWS' | translate }}</span>
      </div>
    </div>
  </div>
</div>