<div class="main-content">
    <div class="container-fluid" *ngIf="loadingDashboard">
        <mat-spinner style="margin:0 auto;"></mat-spinner>
    </div>
    <div class="container-fluid" *ngIf="!loadingDashboard">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-stats">
                    <div class="card-header card-header-icon" [ngClass]="{ 'card-header-success': !data.serviceStatus, 'card-header-danger': data.serviceStatus }">
                        <div class="card-icon">
                            <i class="material-icons">info_outline</i>
                        </div>
                        <p class="card-category">{{ 'DASHBOARD.SERVICE_STATUS' | translate }}</p>
                        <h3 class="card-title">
                            {{ (data.serviceStatus ? 'DASHBOARD.SERVICE_WITH_ERRORS' : 'DASHBOARD.SERVICE_NO_ERRORS' ) | translate }}
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-stats">
                    <div class="card-header card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">pie_chart</i>
                        </div>
                        <p class="card-category">{{ 'DASHBOARD.OPERATIONS_APP' | translate }}</p>
                        <h3 class="card-title">{{data.operationsCourse}}
                        </h3>
                        <p class="card-category">{{ 'DASHBOARD.OPERATIONS_SMS' | translate }}
                        </p>
                        <h3 class="card-title">
                                {{data.operationsCourseSMS}}
                        </h3>
                        <hr/>
                        <p class="card-category">
                            {{ 'DASHBOARD.OPERATIONS_TOTAL' | translate }}
                        </p>
                        <h3 class="card-title">
                                {{data.operationsCourse + data.operationsCourseSMS}}
                        </h3>
                    </div>
                </div>
            </div>
        </div>
       <div class="row">
            <div class="col-lg-6">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">{{ 'DASHBOARD.OPERATIONS_CHART_DAY' | translate }}</h4>
                    </div>

                    <div class="card-body" *ngIf="readyOperationsPerDay">
                        <canvas baseChart [colors]="operationsColors" [datasets]="operationsPerDayDataSet" [labels]="this.operationsPerDayLabels" [legend]="true"
                            [chartType]="'bar'"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">{{ 'DASHBOARD.OPERATIONS_CHART_HH' | translate }}</h4>
                    </div>

                    <div class="card-body" *ngIf="readyOperationsPerHH">
                        <canvas baseChart [colors]="operationsColors" [datasets]="operationsPerHHDataSet" [labels]="operationsPerHHLabels" [legend]="true"
                            [chartType]="'bar'"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">{{ 'DASHBOARD.INC_DAY' | translate }}</h4>
                    </div>

                    <div class="card-body" *ngIf="readyIncChart">
                        <canvas baseChart [colors]="incColors" [datasets]="incDataset" [labels]="incLabels" [legend]="true" [chartType]="'bar'"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">{{ 'DASHBOARD.AT_CLIENT' | translate }}</h4>
                    </div>

                    <div class="card-body" *ngIf="readyClientChart">
                        <canvas baseChart [colors]="clientColors" [datasets]="clientDataset" [labels]="clientLabels" [legend]="true" [chartType]="'line'"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>