<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-4">
              <mat-form-field>
                <input matInput placeholder="{{ 'TERMS.URL_CA' | translate }}" [formControl]="url_ca" [(ngModel)]="term.url_ca">
                <mat-error *ngIf="url_ca.invalid">{{ 'TERMS.INVALID_URL_CA' | translate }}</mat-error>

              </mat-form-field>
            </div>
            <div class="col-lg-4">
              <mat-form-field>
                <input matInput placeholder="{{ 'TERMS.URL_ES' | translate }}" [formControl]="url_es" [(ngModel)]="term.url_es">
                <mat-error *ngIf="url_es.invalid">{{ 'TERMS.INVALID_URL_ES' | translate }}</mat-error>

              </mat-form-field>
            </div>
            <div class="col-lg-4">
              <mat-form-field>
                <input matInput placeholder="{{ 'TERMS.URL_EN' | translate }}" [formControl]="url_en" [(ngModel)]="term.url_en">
                <mat-error *ngIf="url_en.invalid">{{ 'TERMS.INVALID_URL_EN' | translate }}</mat-error>

              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <mat-form-field>
                <input matInput placeholder="{{ 'TERMS.VERSION' | translate }}" appNumeric numericType="number" [formControl]="version" [(ngModel)]="term.version">
                <mat-error *ngIf="version.invalid">{{ 'TERMS.INVALID_VERSION' | translate }}</mat-error>

              </mat-form-field>
            </div>
          </div>
          <hr/>
          <mat-checkbox (change)="toggleActive()" [checked]="term.active">{{ 'TERMS.ACTIVE' | translate }}</mat-checkbox>
          <button mat-raised-button (click)="saveTerm()" class="marginLeft15px" color="accent" [disabled]="url_ca.invalid || url_es.invalid || url_en.invalid || version.invalid" style="float:right;">
            {{ 'GENERAL.SAVE' | translate }}
          </button>
          <button mat-raised-button color="white" [routerLink]="['/sistema/condicions']" style="float:right;">
            {{ 'GENERAL.CANCEL' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>