<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h3>{{'GREMIS.TITLEGREMIS' | translate }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
          <button [disabled]="!curUser.hasPermission(FUNCIONALITIES.GUILD_MANAGEMENT)" [routerLink]="['/gestio-gremi/gremis/new']" mat-raised-button color="primary">
            {{ 'GENERAL.ADD' | translate }}
            <i class="material-icons">
              add_circle
            </i>
          </button>
      </div>
    </div>
    <div class="row card">
      <div class="col-lg-12">
        <div class="card-header-warning">
          {{ 'GREMIS.FILTER' | translate }}

        </div>
        <div class="card-body">
          <form [formGroup]="searchForm" (ngSubmit)="search('search')">
            <div class="row">
              <div class="col-lg-6">
                <mat-form-field>
                  <mat-select formControlName="idGremi" placeholder="{{ 'GREMIS.NAMEGREMI' | translate }}">
                    <mat-option *ngFor="let agremiat of gremisAll" [value]="agremiat.gremiId" >{{agremiat.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-lg-6">
                <mat-form-field>
                  <mat-select multiple formControlName="permis" placeholder="{{ 'GREMIS.TPERMIS' | translate }}">
                    <mat-option [value]="'dum'">
                      <div> DUM </div>
                    </mat-option>
                    <mat-option [value]="'areaVerdaPlusAparcaments'">
                      <div> àrea verda + aparcaments BSM </div>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3">
                <mat-form-field>
                  <input matInput placeholder="{{ 'GREMIS.DNI' | translate }}" formControlName="dni">
                </mat-form-field>
              </div>
              <div class="col-lg-3">
                <mat-form-field>
                  <input matInput placeholder="{{ 'GREMIS.EMAIL' | translate }}" formControlName="email">
                </mat-form-field>
              </div>
              <div class="col-lg-3">
                <mat-form-field>
                  <input matInput placeholder="{{ 'GREMIS.NAMECONTACT' | translate }}" formControlName="nameContact">
                </mat-form-field>
              </div>
              <div class="col-lg-3">
                <mat-form-field>
                  <input matInput placeholder="{{ 'GREMIS.TELCONTACT' | translate }}" formControlName="telContact">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3">
                <mat-form-field>
                  <input matInput placeholder="{{ 'GREMIS.CADCONVENI' | translate }}" formControlName="cadConveni" [matDatepicker]="conveniDatepicker">
                  <mat-datepicker-toggle matSuffix [for]="conveniDatepicker"></mat-datepicker-toggle>
                  <mat-datepicker #conveniDatepicker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
              <button mat-raised-button style="float:right;" color="primary" type="submit">
                  {{ 'GENERAL.SEARCH' | translate }}
                </button>
                <button mat-raised-button [disabled]="exportInProgress" (click)="exportGremis()" style="float:right;margin-right:40px;" color="primary">
                  {{ 'GENERAL.EXPORT_EXCEL' | translate }}
                </button>
                
                <button mat-stroked-button color="accent" style="float: right;margin-right:40px;" (click)="clearInputs()" type="button">
                {{ 'GENERAL.CLEAR' | translate }}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row card">
      <div class="col-lg-12" *ngIf="loadingGremis">
        <mat-spinner style="margin: 0 auto;"></mat-spinner>
      </div>
      <div class="col-lg-12" *ngIf="!loadingGremis &&  gremis && gremis.length == 0" style="padding-top:10px;padding-bottom:10px;font-size:18px;">
        <span>{{ 'GENERAL.NOT_EMPTY' | translate }}</span>
      </div>
      <div class="col-lg-12" *ngIf="!loadingGremis &&  gremis && gremis.length > 0">
        <div class="card-header-warning">
          {{ 'GREMIS.LISTGREMIS' | translate }}
        </div>
        <table class="table card-body text-center">
          <thead>
            <tr>
              <th scope="col">{{ 'GREMIS.CODGREMI' | translate }}</th>
              <th scope="col">{{ 'GREMIS.CONTACTEGREMI' | translate }}</th>
              <th scope="col">{{ 'GREMIS.EMAIL' | translate }}</th>
              <th scope="col">{{ 'GREMIS.DUM' | translate }}</th>
              <th scope="col">{{ 'GREMIS.AREA' | translate }}</th>
              <th scope="col">{{ 'GREMIS.CIUTAT' | translate }}</th>
              <th scope="col">{{ 'GREMIS.PHONE' | translate }}</th>
              <th scope="col">{{ 'GREMIS.DNI' | translate }}</th>
              <th scope="col">{{ 'GREMIS.CADUCITAT' | translate }}</th>
              <th scope="col">{{ 'GREMIS.DATE_CREATED' | translate }}</th>
              <th scope="col" class="col-accions">{{ 'GREMIS.ACTIONS' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let gremi of gremis">
              <td scope="row">{{gremi.name}}</td>
              <td scope="row">{{ gremi.owerName }}</td>
              <td scope="row">{{ gremi.email }}</td>
              <td scope="row">
                <mat-checkbox [checked]="gremi.dumGranted" [disabled]="true"></mat-checkbox>
              </td>
              <td scope="row">
                <mat-checkbox [checked]="gremi.parkingBsmGranted" [disabled]="true"></mat-checkbox>
              </td>
              <ng-container *ngFor="let item of municipis">
                <td *ngIf="item.juridicId == gremi.cityId">
                  {{item.name}}
                </td>
              </ng-container>
              <td scope="row">{{ gremi.telefoneNumber }}</td>
              <td scope="row">{{ gremi.nif }}</td>
              <td scope="row">{{ gremi.expirationDate |date: "dd-MM-yyyy" }}</td>
              <td scope="row">{{ gremi.createdDate | date: "dd-MM-yyyy" }}</td>

              <td scope="row" >
                <button class="buttonIcon" [disabled]="!curUser.hasPermission(FUNCIONALITIES.GUILD_MANAGEMENT)" [routerLink]="['/gestio-gremi/gremis/'+gremi.gremiId]" mat-button>
                  <i class="material-icons">
                    edit
                  </i>
                </button>
                <button *ngIf="gremi.deletedDate == null" [disabled]="!curUser.hasPermission(FUNCIONALITIES.GUILD_MANAGEMENT)" class="marginLeft15px buttonIcon" mat-button (click)="deleteGremi(gremi.gremiId)">
                  <i class="material-icons">
                    delete
                  </i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>